<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-6 p-0">
      <app-logo></app-logo>
    </div>

    <div class="col-md-6">
      <div class="row justify-content-center">
        <div class="col-12 text-center my-3">
          Preencha os dados abaixo.
        </div>
        <div class="row">
          <form [formGroup]="form" (ngSubmit)="cadastrarFuncionario()">
            <mat-error *ngIf="error" class="text-center my-2">{{ erroMsg }}</mat-error>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Nome</mat-label>
                  <input tabindex="1" type="text" matInput name="name" formControlName="name">
                  <mat-error>Nome é obrigatório</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Sobrenome</mat-label>
                  <input tabindex="2" type="text" matInput name="lastName" formControlName="lastname">
                  <mat-error>Sobrenome é obrigatório</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>CPF</mat-label>
                  <input tabindex="3" mask="000.000.000-00" type="text" matInput formControlName="document"
                    name="document">
                  <mat-error>CPF inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Data de Nascimento</mat-label>
                  <input tabindex="4" type="date" matInput formControlName="birthDate" name="birthDate">
                  <mat-error>Data de Nascimento inválida</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div formGroupName="address">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>CEP</mat-label>
                    <input tabindex="5" mask="00000-000" type="text" matInput (blur)="consultarCep()"
                      placeholder="000000-000" formControlName="cep" name="cep">
                    <mat-error>CEP inválido</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input tabindex="6" type="text" matInput formControlName="number" name="number">
                    <mat-error>Número é obrigatório</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input type="text" readonly formControlName="city" name="city" matInput>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <input type="text" readonly matInput formControlName="state" name="state">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Logradouro</mat-label>
                    <input type="text" readonly matInput formControlName="street" name="street">
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input type="text" formControlName="district" name="district" matInput readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input tabindex="7" placeholder="Ex. test@example.com" type="text" matInput name="email"
                    formControlName="email">
                  <mat-error>E-mail inválido</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Senha</mat-label>
                  <input tabindex="8" type="password" matInput name="password" formControlName="password">
                  <mat-error>Senha inválida</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div formGroupName="phones">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>DDD</mat-label>
                    <input tabindex="9" mask="00" type="text" matInput formControlName="ddd" name="ddd">
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input tabindex="10" mask="00000-0000" type="text" formControlName="phoneNumber" name="phoneNumber"
                      matInput>
                    <mat-error>Telefone é obrigatório</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div formGroupName="account">
              <div class="row">
                <div formGroupName="bank" class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="bankId" name="bankId" tabindex="11">
                      <mat-option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</mat-option>
                    </mat-select>
                    <mat-error>Banco é obrigatório</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Agência</mat-label>
                    <input tabindex="11" type="text" formControlName="branch" name="branch" matInput>
                    <mat-error>Agência é obrigatória</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Conta</mat-label>
                    <input tabindex="12" type="text" matInput formControlName="accountNumber" name="accountNumber">
                    <mat-error>Conta é obrigatória</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Dígito</mat-label>
                    <input tabindex="13" type="text" matInput formControlName="digit" name="digit">
                    <mat-error>Dígito é obrigatorio</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row justify-content-center my-3">
              <button type="submit" class="btn btn-primary button-form">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
