<div class="container-fluid">
  <div class="row login_page">
    <div class="col-md-6 box_logo d-flex justify-content-center align-items-center">
      <div class="row-4 justify-content-center">
        <figure class="figure-img">
          <img class="img-fluid" alt="logo restaurante" src='/assets/images/logo.PNG'>
        </figure>
      </div>
      <div class="text_logo col-xs-12 col-sm-8">
        <div class="col">
          <div class="row justify-content-center">Restaurante</div>
          <div class="row justify-content-center">Mata Burro</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 row-md-auto box_login justify-content-center">
      <div class="row col-sm-auto justify-content-center">
        <div class="row justify-content-center text_login">
          Preencha os dados abaixo.
        </div>
        <form [formGroup]="form" (ngSubmit)="cadastrarFuncionario()">
          <div class="row">
            <div class="col-md-6">
              <input type="text" tabindex="1" formControlName="name" name="nome" class="form-control campos-form"
                placeholder="Nome">
              <input type="text" formControlName="lastname" name="sobrenome" class="form-control campos-form"
                placeholder="Sobrenome">
              <input type="email" formControlName="email" name="email" class="form-control campos-form"
                aria-describedby="emailHelp" placeholder="E-mail">
              <input type="password" formControlName="password" name="senha" class="form-control campos-form"
                placeholder="Senha">
              <input type="text" (blur)="consultarCep()" formControlName="cep" name="cep"
                class="form-control campos-form" placeholder="CEP">
              <input type="text" formControlName="city" name="city" class="form-control campos-form"
                placeholder="Cidade">
              <input type="text" formControlName="state" name="state" class="form-control campos-form"
                placeholder="Estado">
              <input type="text" formControlName="street" name="street" class="form-control campos-form"
                placeholder="Logradouro">
            </div>
            <div class="col-md-6">
              <input type="text" tabindex="2" formControlName="number" name="number" class="form-control campos-form"
                placeholder="Número">
              <input type="text" formControlName="district" name="district" class="form-control campos-form"
                placeholder="Bairro">
              <input type="text" formControlName="ddd" name="ddd" class="form-control campos-form" placeholder="DDD">
              <input type="text" formControlName="phoneNumber" name="phoneNumber" class="form-control campos-form"
                placeholder="Telefone">
              <input type="text" formControlName="bankId" name="bankId" class="form-control campos-form"
                placeholder="Banco">
              <input type="text" formControlName="branch" name="branch" class="form-control campos-form"
                placeholder="Agência">
              <input type="text" formControlName="accountNumber" name="accountNumber" class="form-control campos-form"
                placeholder="Conta">
              <input type="text" formControlName="digit" name="digit" class="form-control campos-form"
                placeholder="Dígito">
            </div>
          </div>
          <div class="button-form">
            <button id="btn_logar" type="submit" class="btn btn-primary button-form">Criar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
