<div class="container-fluid">
  <div class="row login_page">
    <div class="col-md-6 box_logo d-flex justify-content-center align-items-center">
      <div class="row-4 justify-content-center">
        <figure class="figure-img">
          <img class="img-fluid" alt="logo restaurante" src='/assets/images/logo.PNG'>
        </figure>
      </div>
      <div class="text_logo col-xs-12 col-sm-8">
        <div class="col">
          <div class="row justify-content-center">Restaurante</div>
          <div class="row justify-content-center">Mata Burro</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 row-md-auto box_login justify-content-center">
      <div class="row col-sm-auto justify-content-center">
        <div class="row justify-content-center text_login my-2">
          Preencha os dados abaixo.
        </div>
        <form [formGroup]="form" (ngSubmit)="registerDeliveryman()">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Nome</mat-label>
                <input tabindex="1" type="text" matInput name="name" formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Sobrenome</mat-label>
                <input tabindex="2" type="text" matInput name="lastName" formControlName="lastname">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>CPF</mat-label>
                <input tabindex="3" mask="000.000.000-00" type="text" matInput formControlName="document" name="document">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Data de Nascimento</mat-label>
                <input tabindex="4" type="date" matInput formControlName="birthDate" name="birthDate">
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="address">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>CEP</mat-label>
                  <input tabindex="5" mask="00000-000" type="text" matInput (blur)="consultarCep()"
                    placeholder="000000-000" formControlName="cep" name="cep">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Número</mat-label>
                  <input tabindex="6" type="text" matInput formControlName="number" name="number">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Cidade</mat-label>
                  <input type="text" readonly formControlName="city" name="city" matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Estado</mat-label>
                  <input type="text" readonly matInput formControlName="state" name="state">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Logradouro</mat-label>
                  <input type="text" readonly matInput formControlName="street" name="street">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Bairro</mat-label>
                  <input type="text" formControlName="district" name="district" matInput readonly>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input tabindex="7" placeholder="Ex. test@example.com" type="text" matInput name="email"
                  formControlName="email">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Senha</mat-label>
                <input tabindex="8" type="password" matInput name="password" formControlName="password">
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="phones">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>DDD</mat-label>
                  <input tabindex="9" mask="00" type="text" matInput formControlName="ddd" name="ddd">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Telefone</mat-label>
                  <input tabindex="10" mask="00000-0000" type="text" formControlName="phoneNumber" name="phoneNumber"
                    matInput>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div formGroupName="motorcycle">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Modelo Moto</mat-label>
                  <input tabindex="11" type="text" matInput formControlName="model" name="model">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Marca</mat-label>
                  <input tabindex="12" type="text" formControlName="brand" name="brand" matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Ano</mat-label>
                  <input tabindex="12" type="text" mask="0000" formControlName="year" name="year" matInput>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div formGroupName="account">
            <div class="row">
              <div formGroupName="bank" class="col-sm-6">
                <mat-form-field>
                  <mat-label>Banco</mat-label>
                  <mat-select formControlName="bankId" name="bankId" tabindex="9">
                    <mat-option name="bd" [value]="1">Bradesco</mat-option>
                    <mat-option name="bb" [value]="2">Banco do Brasil</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Agência</mat-label>
                  <input tabindex="14" type="text" formControlName="branch" name="branch" matInput>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Conta</mat-label>
                  <input tabindex="15" type="text" matInput formControlName="accountNumber" name="accountNumber">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Dígito</mat-label>
                  <input tabindex="16" type="text" matInput formControlName="digit" name="digit">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="button-form">
            <button id="btn_logar" type="submit" class="btn btn-primary button-form">
              Criar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
