<div class="container-fluid">
  <div class="row login_page">
    <div class="col-md-6 box_logo d-flex justify-content-center align-items-center">
      <div class="row-4 justify-content-center">
        <figure class="figure-img">
          <img class="img-fluid" alt="logo restaurante" src='/assets/images/logo.PNG'>
        </figure>
      </div>
      <div class="text_logo col-xs-12 col-sm-8">
        <div class="col">
          <div class="row justify-content-center">Restaurante</div>
          <div class="row justify-content-center">Mata Burro</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 row-md-auto box_login justify-content-center">
      <div class="row col-sm-auto justify-content-center">
        <div class="row justify-content-center text_login">
          Preencha os dados abaixo.
        </div>
        <form [formGroup]="" (ngSubmit)="">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Nome do Banco</mat-label>
                <input tabindex="1" type="text" matInput name="bankName" formControlName="bankName">
              </mat-form-field>
            </div>
            <div class="button-form">
              <button id="btn_logar" type="submit" class="btn btn-primary button-form">
                Adicionar
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
