<div class="container-fluid">
  <div class="row col-sm login_page">
    <div class="col row-md-6 box_logo d-flex justify-content-center align-items-center">
      <div class="row-4 justify-content-center col-sm-auto">
        <img id='img_logo' src='/assets/images/logo.PNG'>
      </div>
      <div class="row-2 text_logo col-sm-8">
        <div class="col">
          <div class="row justify-content-center">Restaurante</div>
          <div class="row justify-content-center">Mata Burro</div>
        </div>
      </div>
    </div>

    <div class="col-5 row-md-auto box_login justify-content-center">
      <div class="row col-sm-auto justify-content-center">
        <div class="row justify-content-center text_login">
          Preencha os dados abaixo.
        </div>
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <input type="text" formControlName="name" name="nome" class="form-control campos-form" placeholder="Nome">
              <input type="text" formControlName="lastname" name="sobrenome" class="form-control campos-form" placeholder="Sobrenome">
              <input type="email" formControlName="email" name="email" class="form-control campos-form" aria-describedby="emailHelp" placeholder="E-mail">
              <input type="password" formControlName="password" name="senha" class="form-control campos-form" placeholder="Senha">
              <input type="text" formControlName="cep" name="endereco" class="form-control campos-form" placeholder="CEP">
              <input type="text" formControlName="city" name="endereco" class="form-control campos-form" placeholder="Cidade">
              <input type="text" formControlName="state" name="endereco" class="form-control campos-form" placeholder="Estado">
              <input type="text" formControlName="street" name="endereco" class="form-control campos-form" placeholder="Logradouro">
            </div>
            <div class="col">
              <input type="text" formControlName="number" name="endereco" class="form-control campos-form" placeholder="Número">
              <input type="text" formControlName="district" name="endereco" class="form-control campos-form" placeholder="Bairro">
              <input type="text" formControlName="ddd" name="endereco" class="form-control campos-form" placeholder="DDD">
              <input type="text" formControlName="phoneNumber" name="endereco" class="form-control campos-form" placeholder="Telefone">
              <input type="text" formControlName="bankId" name="endereco" class="form-control campos-form" placeholder="Banco">
              <input type="text" formControlName="branch" name="endereco" class="form-control campos-form" placeholder="Agência">
              <input type="text" formControlName="accountNumber" name="endereco" class="form-control campos-form" placeholder="Conta">
              <input type="text" formControlName="digit" name="endereco" class="form-control campos-form" placeholder="Dígito">
            </div>
          </div>
          <div class="button-form">
            <button id="btn_logar" type="submit" (click)="cadastrarFuncionario()" class="btn btn-primary button-form">Criar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
