body {
    background-color: #FFBA5C;
    font-family: Arial, Helvetica, sans-serif;
}

.fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

.button-form {
    margin-top: 15px;
    width: 120px;
    text-align: center;
    min-width: -webkit-fill-available;
}

.div-img {
    margin-top: 20px;
}

.campos-login {
    margin-top: 15px;
}