<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-6 p-0">
      <app-logo></app-logo>
    </div>
    <div class="col-md-6 justify-content-center">
      <div class="row justify-content-center">
        <h2>
          Preencha os dados abaixo.
        </h2>
      </div>
      <form [formGroup]="fg" (ngSubmit)="changePassword()">
        <mat-error *ngIf="error" class="text-center my-2">{{ erroMsg }}</mat-error>
        <div class="row justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Senha Atual</mat-label>
              <input tabindex="1" type="password" matInput name="name" formControlName="oldPassword">
              <mat-error>Senha Atual é obrigatória!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Senha Nova</mat-label>
              <input tabindex="1" type="password" matInput name="name" formControlName="newPassword">
              <mat-error>Senha Nova é obrigatória!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Confirmar Senha Nova</mat-label>
              <input (change)="this.mathConfirm('newPassword', 'repeatNewPassword')"
               tabindex="1" type="password" matInput name="name" formControlName="repeatNewPassword">
              <mat-error>Senhas não coincidem!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group">
            <div class="col-md-12 my-5">
              <button type="button" class="btn btn-light">
                Retornar a lista de Bancos
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
