<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="error-template row justify-content-center">
                <h1 class="text-center"> Oops!</h1>
                <h2 class="text-center">Não Autorizado.</h2>
                <div class="error-details row justify-content-center">
                    Você não tem permissão para acessar esta página. Solicite ao administrador.
                </div>
                <div class="error-actions row justify-content-center">
                    <div class="col-2">
                        <a (click)="redirect()" class="btn btn-primary" style="background-color: #FFBA5C; border: #FFBA5C;">
                            Retorna à página principal. 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
