<div class="container-fluid">
  <div class="row title">
      <h4> Criação de Produtos </h4>
  </div>
  <hr>

  <div class="form-control col-6">
      <label>Nome</label>
      <input type="text" />
  </div>
  <div class="form-control col-4">
      <label>Preço</label>
      <input type="text" />
  </div>
  <div class="form-control col-2">
      <label>Disponível?</label>
      <input type="checkbox" />
  </div>
  <div class="form-control col-8">
      <label>Descrição</label>
      <textarea cols="30" rows="10"></textarea>
  </div>
  <div>
      <button class="float-right">Criar</button>
  </div>
</div>
