<div class="container-fluid mt-3">

    <mat-card>
      <div class="row justify-content-center my-2">
        <mat-form-field class="col-md-2">
          <mat-label>Nome</mat-label>
          <input matInput  name="name" type="text">
        </mat-form-field>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <!-- <table mat-table class="w-100 ">
            <ng-container >
              <th mat-header-cell > ID </th>
              <td mat-cell > </td>
            </ng-container>
  
            <ng-container >
              <th mat-header-cell > Nome </th>
              <td mat-cell >  </td>
            </ng-container>
  
            <ng-container >
              <th mat-header-cell > Editar </th>
              <td mat-cell ><a href="javascript:void(0);"><mat-icon>edit_outline</mat-icon></a><td>
            </ng-container>
  
            <ng-container >
              <th mat-header-cell > Excluir </th>
              <td mat-cell ><a  href="javascript:void(0);"><mat-icon>delete_outline</mat-icon></a><td>
            </ng-container>
  
            <tr mat-header-row ></tr>
            <tr mat-row ></tr>
  
          </table>
  
          <mat-paginator 
            aria-label="Select page of periodic elements">
        </mat-paginator> -->
        </div>
      </div>
    </mat-card>
  
  </div>
  
